body {
    background-image: url(../img/pattern.png) !important;
}

textarea {
    resize: none !important;
}

.marca {
    font-family: 'Pacifico', cursive;
}

#main-container {
    -webkit-box-shadow: 3px 1px 22px -2px rgba(0,0,0,0.42);
    -moz-box-shadow: 3px 1px 22px -2px rgba(0,0,0,0.42);
    box-shadow: 3px 1px 22px -2px rgba(0,0,0,0.42);
}

@media only screen and (min-width: 576px) {
    .card-hover .card:hover {
        -webkit-transform:scale(1.03); /* Safari and Chrome */
        -moz-transform:scale(1.03); /* Firefox */
        -ms-transform:scale(1.03); /* IE 9 */
        -o-transform:scale(1.03); /* Opera */
        transform:scale(1.03);
        transition: all .3s ease-in-out;
    }

    .card-hover .card:not(hover) {
        -webkit-transform:scale(1); /* Safari and Chrome */
        -moz-transform:scale(1); /* Firefox */
        -ms-transform:scale(1); /* IE 9 */
        -o-transform:scale(1); /* Opera */
        transform:scale(1);
        transition: all .3s ease-in-out;
    }
}

.translate-hover:hover {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
    transition: all .3s ease-in-out;
}

.translate-hover:not(hover) {
    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
    transform:scale(1);
    transition: all .3s ease-out;
}